.loader {
    z-index: 2;
    background: rgba(255, 0, 0, 0.15);
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    text-align: center;
}

.loader > span {
    animation: rotation 1000ms infinite linear;
}

.loader > span > img {
    width: 25%;
    height: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(0);
    }

    25% {
        transform: rotate(360deg) scale(1);
    }

    50% {
        transform: rotate(1080deg) scale(1);
    }

    75% {
        transform: rotate(360deg) scale(1);
    }

    100% {
        transform: rotate(0deg) scale(0);
    }
}